<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
	<connectionStrings>
		<!--мы к строке подключения в программе обращаемся через ключ вот для чего он нужен-->
		<!--<add name="HR_departmentDB_kluch" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Projects\MyProga\HR_department\HR_departmentDB.mdf;Integrated Security=True" /> -->
		<add name="HR_departmentDB_kluch" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\delete\HR_department\HR_departmentDB.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>
